.App {
  text-align: center;
}

.container {
  /* display: flex; */
  max-width: 12rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.logo {
  font-weight: 600;
  font-size: 3rem;
  margin-left: 0;
  margin-top: 3rem;
  color: #324531;
}

.nav {
  background-color: #555;
  padding: 10px;
}

.rightLinks {
  list-style-type: none;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0;
}

.rightLinkItems {
  color: Black;
  margin-bottom: 0.75rem;
  /* display: inline-block; */
}

.link {
  color: black;
  text-decoration: none;
}

.activeLink {
  color: #60825d;
  font-weight: 700;
}

/***********************************************/

footer {
  background-color: #324531;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-header {
  padding-top: 1rem;
}
.footer-text {
  margin: 0.5rem;
  display: inline-block;
  font-size: small;
}

/***********************************************/
.homepage-image {
  width: 50vw;
  height: auto;
  position: fixed;
  top: 77%;
  left: -9%;
  z-index: -1;
}
.homepage-image-2 {
  width: 50vw;
  height: auto;
  position: fixed;
  top: 23%;
  left: -23%;
  z-index: -1;
}

.homepage-image-3 {
  width: 50vw;
  height: auto;
  position: fixed;
  top: 45%;
  left: 89%;
  z-index: -1;
}

.homepage-image-4 {
  width: 50vw;
  height: auto;
  position: fixed;
  top: 65%;
  left: 52%;
  z-index: -1;
}
.homepage-image-5 {
  width: 50vw;
  height: auto;
  position: fixed;
  top: 6%;
  left: 100%;
  z-index: -1;
}

.homepage-container {
  margin-bottom: 6rem;
}

.homepage-header {
  font-weight: 600;
  padding: 0rem 1.75rem 0rem 1.75rem;
  letter-spacing: -0.18rem;
  word-spacing: 0.75rem;
}

.homepage-text {
  font-size: 1rem;
  font-weight: 300;
  padding: 0rem 1.75rem 0rem 1.75rem;
  margin-bottom: 5rem;
  line-height: 1.75rem;
}

.homepage-textcolour,
.product-textcolour,
.plantcare-textcolour {
  color: #60825d;
}

.homepage-textcolour-contrast,
.product-textcolour-contrast,
.plantcare-textcolour-contrast {
  color: #324531;
}

.homepage-button {
  background-color: #60825d;
  color: #fdfdfb;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homepage-button:hover {
  background-color: #324531;
}

/***********************************************/

@media only screen and (min-width: 48rem) {
  .homepage-image {
    width: 25vw;
    height: auto;
    position: fixed;
    top: 76%;
    left: 18%;
    z-index: -1;
  }
  .homepage-image-2 {
    width: 35vw;
    height: auto;
    position: fixed;
    top: 17%;
    left: -14%;
    z-index: -1;
  }
  .homepage-image-3 {
    width: 50vw;
    height: auto;
    position: fixed;
    top: 53%;
    left: 85%;
    z-index: -1;
  }

  .homepage-image-4 {
    width: 15vw;
    height: auto;
    position: fixed;
    top: 63%;
    left: 60%;
    z-index: -1;
  }
  .homepage-image-5 {
    width: 21vw;
    height: auto;
    position: fixed;
    top: 6%;
    left: 77%;
    z-index: -1;
  }
  .homepage-text {
    padding: 0rem 10.75rem 0rem 10.75rem;
  }
  .homepage-header {
    font-size: 2.5rem;
  }
  footer {
    background-color: #324531;
    color: white;
    position: relative;
    bottom: -17px;
    width: 100%;
  }
}
@media only screen and (min-width: 90rem) {
  .homepage-image {
    width: 17vw;
    height: auto;
    position: fixed;
    top: 76%;
    left: 18%;
    z-index: -1;
  }
  .homepage-image-2 {
    width: 13vw;
    height: auto;
    position: fixed;
    top: 18%;
    left: -3%;
    z-index: -1;
  }
  .homepage-image-3 {
    width: 21vw;
    height: auto;
    position: fixed;
    top: 20%;
    left: 88%;
    z-index: -1;
  }
  .homepage-image-4 {
    width: 15vw;
    height: auto;
    position: fixed;
    top: 63%;
    left: 58%;
    z-index: -1;
  }
  .homepage-image-5 {
    width: 12vw;
    height: auto;
    position: fixed;
    top: 6%;
    left: 77%;
    z-index: -1;
  }
  .rightLinks {
    list-style-type: none;
    padding: 0rem 2rem 10rem 2rem;
    margin: 0;
  }

  .rightLinkItems {
    font-size: 1.3rem;
  }
  footer {
    background-color: none;
    position: relative;
    bottom: -60px;
    width: 100%;
  }
  .homepage-text {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 160rem) {
  .homepage-image {
    width: 17vw;
    height: auto;
    position: fixed;
    top: 76%;
    left: 18%;
    z-index: -1;
  }
  .homepage-image-2 {
    width: 13vw;
    height: auto;
    position: fixed;
    top: 18%;
    left: -3%;
    z-index: -1;
  }
  .homepage-image-3 {
    width: 21vw;
    height: auto;
    position: fixed;
    top: 20%;
    left: 88%;
    z-index: -1;
  }
  .rightLinks {
    list-style-type: none;
    padding: 0rem 2rem 15rem 2rem;
    margin: 0;
  }
  footer {
    background-color: none;
    position: relative;
    bottom: 25px;
    width: 100%;
  }
}
