* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Lato", sans-serif;
  font-family: "Noto Serif", serif;
}

.homepage-header,
.products-header {
  font-family: "Lato", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Titillium Web", sans-serif;
}

/* styles.css */
.container {
  /* display: flex; */
  max-width: 12rem;
  margin: 0 auto;
}

.nav {
  background-color: #555;
  padding: 10px;
}

.rightLinks {
  /* Add your ul styles here */
  /* For example, you can set list-style-type to none */
  list-style-type: none;
  padding: 0rem 2rem 2rem 2rem;
  margin: 0;
}

.rightLinkItems {
  /* Add your li styles here */
  /* For example, you can add some spacing and styling */
  color: Black;
  margin-bottom: 0.5rem;
  /* display: inline-block; */
}
